.LandingPage {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  > *:not(.VerticalLine) {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.VerticalLine {
  background-color: black;
  height: 100%;
  width: 1px;
}
