@import 'styles/mixins';
@import 'styles/variables';

.LandingPage {
  margin-top: 4rem;

  .IntroductionSection {
    margin-bottom: 2rem;
  }

  .VerticalLine {
    display: none;
  }

  @media only screen and (min-width: 700px) {
    #content {
      @include centered-horizontally-vertically;
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;

      > *:not(.VerticalLine) {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 3rem;
      }
    }

    .VerticalLine {
      display: block;
    }
  }
}

.VerticalLine {
  background-color: black;
  height: 100%;
  width: 1px;
}
