@import 'styles/theme';

/**
* TODO
*  - inline width, full width
*  - focus color
**/

$input-font-size: .85rem;

.Input {
  display: flex;
  flex-direction: column;

  input {
    border: .0625rem solid $border-color;
    border-radius: .2rem;
    box-sizing: border-box;
    font-size: $input-font-size;
    order: 2;
    padding: .3rem;

    &:focus {
      border: .1rem solid blue;
      outline: none;
      padding: .2625rem;
    }
  }

  label {
    font-size: .9rem;
    order: 1;
    width: fit-content;
  }

  &.label-embedded {
    margin-top: .5rem;
    position: relative;

    input {
      padding: .6rem .5rem .4rem .5rem;

      &:focus {
        padding: .5625rem .4625rem .3625rem .4625rem;

        + label {
          color: blue;
          font-size: .7rem;
          top: -.45rem;
          transition: font-size .1s, top .1s;
        }
      }
    }

    label {
      background-color: white;
      color: $grey-600;
      font-size: $input-font-size;
      left: .4rem;
      padding: 0 .25rem;
      position: absolute;
      top: .55rem;
      transition: font-size .1s, top .1s;
    }
  }

  &.label-left {
    align-items: center;
    flex-direction: row;

    input {
      width: 100%;
    }

    label {
      margin-right: .4rem;
    }
  }

  &.label-top {
    label {
      margin-bottom: .1rem;
    }
  }
}
