@import 'styles/colors';
@import 'styles/variables';

$border-color: $blue-grey-100;

.List {
  border: 1px solid $border-color;
  border-radius: .5rem;
  overflow: hidden;

  .item {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }

    > * {
      padding: $padding-comfortable;
    }
  }
}
