@import 'styles/mixins';

.NavBar {
  @include elevated;
  align-items: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;

  header {
    font-weight: 700;

    a {
      color: black;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
