.AddCampaignForm {
  align-items: flex-end;
  display: flex;
}

.AddCampaignForm > .Input {
  flex: 1;
}

.AddCampaignForm > * {
  margin-right: 1rem;
}

.AddCampaignForm > *:last-child {
  margin-right: 0;
}

.AddCampaignForm button {
  padding-top: .45rem;
  padding-bottom: .45rem;
}
