@import 'styles/colors';

$input-font-size: .85rem;

.Input {
  background-color: var(--surface-bg-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  input {
    background-color: inherit;
    border: .0625rem solid var(--input-border-color);
    border-radius: .2rem;
    box-sizing: border-box;
    color: var(--input-text-color);
    font-size: $input-font-size;
    order: 2;
    padding: .3rem;
    width: 100%;

    &:disabled {
      border-style: dashed;
      color: var(--input-label-color);
    }

    &:focus {
      border: .1rem solid var(--input-border-focus-color);
      outline: none;
      padding: .2625rem;
    }

    &:not(.invalid) {
      margin-bottom: 1.05rem;
    }

    &.invalid {
      border-color: var(--input-border-invalid-color);
      border-left-width: .2rem;
      padding-left: .1625rem;
    }
  }

  input[type=number]::-webkit-inner-spin-button {
    appearance: none;
  }

  label {
    font-size: .9rem;
    order: 1;
    width: fit-content;
  }

  &.label-embedded {
    margin-top: .5rem;
    position: relative;

    input {
      padding: .6rem .5rem .4rem .5rem;

      &:focus {
        padding: .5625rem .4625rem .3625rem .4625rem;

        &.invalid + label {
          color: var(--input-label-invalid-color);
        }

        + label {
          color: var(--input-label-focus-color);
          transition: all .1s ease-in-out;
        }
      }

      &:focus + label, &.hasValue + label {
        font-size: .7rem;
        top: -.45rem;
      }

      &.invalid {
        padding-left: .3625rem;
      }
    }

    label {
      background-color: inherit;
      color: var(--input-label-color);
      font-size: $input-font-size;
      left: .4rem;
      padding: 0 .25rem;
      pointer-events: none;
      position: absolute;
      top: .55rem;
      transition: all .1s ease-in-out;
    }
  }

  &.label-left {
    align-items: center;

    label {
      margin-right: .4rem;
      white-space: nowrap;
    }
  }

  &.label-top {
    flex-direction: column;

    label {
      margin-bottom: .1rem;
    }
  }

  .ErrorMessage {
    color: var(--input-label-invalid-color);
    font-size: .8rem;
    margin-left: .3rem;
    margin-top: .1rem;
    order: 3;
  }

  &.large.label-embedded {
    input {
      border-width: .1rem;
      font-size: 1.5rem;

      &:focus + label, &.hasValue + label {
        font-size: .9rem;
        top: -.5rem;
      }
    }

    label {
      font-size: 1.5rem;
    }
  }
}
