@import 'styles/mixins';

.NavBar {
  @include elevated;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 2rem;
  padding: 1rem;
}

.NavBar header {
  font-weight: 700;
}

.NavBar header a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
