.m-1 {
  margin: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}
