.full-height {
  height: 100%;
}

.h-min-3-5 {
  min-height: 3.5rem;
}

.height-10 {
  height: 10rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-8 {
  margin-top: 8rem;
}

.p-1 {
  padding: 1rem;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

@media only screen and (min-width: $screen-size-medium) {
  &.sm-only {
    display: none !important;
  }
}
