@mixin centered-horizontally-vertically {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin elevated {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
