// default light theme

:root {
  // Palette
  --invalid-color: #{$pink-600};
  --primary-color: #{$teal-500};

  // General
  --border-color: #{$grey-400};
  --disabled-color: #{$grey-500};
  --surface-bg-color: #{$grey-100};
  --text-color: black;

  // Input
  --input-border-color: #{$grey-500};
  --input-border-focus-color: var(--primary-color);
  --input-border-invalid-color: var(--invalid-color);
  --input-label-color: #{$grey-600};
  --input-label-focus-color: var(--primary-color);
  --input-label-invalid-color: var(--invalid-color);
  --input-text-color: var(--text-color);
}
