:root {
  // default light theme
  --border-color: #{$grey-400};
  --input-border-color: black;
  --input-border-focus-color: #{$indigo-400};
  --input-border-invalid-color: #{$pink-600};
  --input-label-color: black;
  --input-label-focus-color: var(--input-border-focus-color);
  --input-label-invalid-color: var(--input-border-invalid-color);
  --input-text-color: black;
}
